---
import { type CollectionEntry, getCollection } from "astro:content";
import NewLayout from "@layouts/NewLayout.astro";
import FormattedDate from "@components/FormattedDate.astro";
import { readingTime } from "@lib/utils";
import BackToPrevious from "@components/BackToPrevious.astro";
import Giscus from "@components/Giscus.astro";
import MastodonShare from "@components/MastodonShare.astro";

export async function getStaticPaths() {
  const posts = (await getCollection("blog"))
    .filter((post) => !post.data.draft)
    .sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf());
  return posts.map((post) => ({
    params: { slug: post.slug },
    props: post,
  }));
}
type Props = CollectionEntry<"blog">;


const post = Astro.props;
const { Content } = await post.render();
---

<NewLayout title={post.data.title} description={post.data.description}>
  <div class="px-8">
    <h1 class="text-2xl font-bold mb-2">
      {post.data.title}
    </h1>

    <div class="text-gray-600 mb-8">
      <FormattedDate date={post.data.date} />
    </div>

    <article>
      <Content />
    </article>

    <MastodonShare
      title={post.data.title}
      url={`${Astro.site}/blog/${post.slug}`}
    />

  </div>
</NewLayout>
